#globalContainer
{
	margin:0 auto !important;
	position:relative !important;
}

#blueBar
{
	margin:0 auto !important;
	position:fixed !important;
	top:0 !important;
	z-index:13 !important;
}

#blueBar.loggedOut
{
	position:absolute !important;
}

#pageHead
{
	left:auto !important;
	margin:0 auto 31px !important;
	position:relative !important;
	width:980px !important;
	z-index:13 !important;
}

#pageLogo,#jewelCase
{
	/* Seems to break buttons */
	/* position:fixed !important;  */
	top:10px !important;
}

#jewelCase
{
	height:40px !important;
	margin-left:97px !important;
	position:fixed !important;
	top:10px !important;
}

#headNav
{
	position:fixed !important;
	top:10px !important;
	width:799px !important;
}

div#options_button
{
	left:-212px !important;
	position:absolute !important;
	top:-1px !important;
}
