#facebox .b
{
	background:url(https://github.com/kentfredric/js-fuckbook.userscript/raw/main/png/facebook_b.png);
}

#facebox .tl
{
	background:url(https://github.com/kentfredric/js-fuckbook.userscript/raw/main/png/facebook_tl.png);
}

#facebox .tr
{
	background:url(https://github.com/kentfredric/js-fuckbook.userscript/raw/main/png/facebook_tr.png);
}

#facebox .bl
{
	background:url(https://github.com/kentfredric/js-fuckbook.userscript/raw/main/png/facebook_bl.png);
}

#facebox .br
{
	background:url(https://github.com/kentfredric/js-fuckbook.userscript/raw/main/png/facebook_br.png);
}

#facebox
{
	left:0;
	position:absolute;
	text-align:left;
	top:0;
	z-index:100;
}

#facebox .popup
{
	position:relative;
}

#facebox table
{
	border-collapse:collapse;
}

#facebox td
{
	border-bottom:0;
	padding:0;
}

#facebox .body
{
	background:#fff;
	width:392px;
}

#facebox img
{
	border:0;
	margin:0;
}

#facebox .footer
{
	padding-top:5px;
	text-align:right;
}

#facebox .tl,#facebox .tr,#facebox .bl,#facebox .br
{
	height:10px;
	overflow:hidden;
	padding:0;
	width:10px;
}

#facebox_overlay
{
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
}

.facebox_hide
{
	z-index:-100;
}

.facebox_overlayBG
{
	background-color:#000;
	z-index:99;
}

#facebox .loading,#facebox .image
{
	text-align:center;
}
